<%= render 'users/card',  user: @user %>
<% @posts.each do |post| %>
<div class="post">
  <div class="post-body">
    <p><%= post.title %>
    <p><%= post.text %></p>
    <p>comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
  </div>
  <div class="post-comments" >
    <% post.recent_comments.each do |comment| %>
      <p>User: <%= comment.author.name %>, Comment: <%= comment.text %></p>
    <% end %>
  </div>
</div>
<% end %>