<%= stylesheet_link_tag "styles" %>
<div class="post-header">
  <div class="post-title">
    <div>
    <p><%= @post.title %> by <%= @post.author.name%></p>
      <%=form_with :url => user_post_likes_path(@user, @post), :method => :post, :class => 'new-like' do |f|%>
      <%= f.button do %>
        Like
      <% end %>
    <%end%>
    </div>
    <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
  </div>
  <p><%= @post.text %></p>
</div>
<div class="post-comments">
  <% @comments.includes([:post]).each do |comment| %>
    <p><%= comment.author.name%> : <%= comment.text %></p>
    <% if can? :delete, comment %>
      <%= button_to "Delete", user_post_comment_path(comment.author, comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
  <button type="button"><%= link_to 'Add Comment', new_user_post_comment_path(@user.id, @post.id) %></button>
  <% if can? :delete, @post %>
  <%= button_to 'Delete Post', user_post_path(@post.author, @post), method: :delete %>
  <% end %>
</div>